<div class="sidenav-logo">
  <a href="/"
    ><img src="assets/images/logo.png" alt="helvetiens" width="150px"
  /></a>
</div>

<mat-nav-list role="navigation">
  <!--**************-->
  <!--**** GAMES ****-->
  <!--**************-->
  <mat-list-item>
    <div class="mat-list-item">
      <mat-icon class="material-icons" data-icon="dashboard"></mat-icon>
      <span class="pl-2 text-gray-300">Games</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <!-- ************** -->
  <!-- ***memory*** -->
  <!-- ************** -->
  <mat-expansion-panel [class.mat-elevation-z0]="true" [expanded]="true">
    <mat-expansion-panel-header>
      <h2 class="font-ralewaylight text-lg">Swiss memory</h2>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>

    <mat-nav-list class="text-sm" (click)="sideNavCloseOnMobile()">
      <a
        class="mat-nav-list-link"
        routerLinkActive="link-active"
        mat-list-item
        routerLink="cantons"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="flex items-center">
          <img class="size-6" src="assets/images/canton.png" alt="" />
          <span class="text-sm pl-2">Cantons</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
</mat-nav-list>
